### OSX template
.DS_Store

### Gradle template
.gradle
build/

### Eclipse template
bin/
gradle/

# JDT-specific (Eclipse Java Development Tools)
*.iml

## Directory-based project format:
.idea/

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Java template
*.class

### Config files for test modules
tests/.svn
tests/vertica/
tests/hive/
tests/filemanager/
tests/postgresql/
tests/oracle/
tests/mysql/
tests/jdbc/
tests/mssql/
tests/h2/
tests/netsuite/
tests/salesforce/
tests/xero/demo.jar
