### OSX template
.DS_Store

### Gradle template
.gradle
build/

### Eclipse template
bin/
gradle/

# JDT-specific (Eclipse Java Development Tools)
*.iml

## Directory-based project format:
.idea/

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Java template
*.class

### Config files for test modules
tests/vertica/
tests/hive/
tests/filemanager/
tests/postgresql/postgresql-42.2.1.jre7.jar
tests/oracle/tns.jar
tests/mysql/mysql.conf
tests/jdbc/setup.conf
tests/oracle/xdb6.jar
tests/oracle/ojdbc6.jar
tests/mssql/mssql.conf
tests/oracle/oracle.conf
tests/h2/h2.conf
tests/postgresql/postgresql.conf
tests/mysql/mysql-connector-java-5.1.24-bin.jar
tests/mssql/sqljdbc41.jar
